.account-option {
    height: 400px; 
    display: flex;
    flex-direction: column
}
.account-option h2 {
    text-align: left;
}
.account-option a {
    flex: 1;
    width: 40%;
    align-self: center;
    align-content: center;
    margin: 75px 75px 75px 75px;
}