.account-option[b-jcjbf7459v] {
    height: 400px; 
    display: flex;
    flex-direction: column
}
.account-option h2[b-jcjbf7459v] {
    text-align: left;
}
.account-option a[b-jcjbf7459v] {
    flex: 1;
    width: 40%;
    align-self: center;
    align-content: center;
    margin: 75px 75px 75px 75px;
}