/* _content/Proyecto/Views/Account/Stats/Index.cshtml.rz.scp.css */
.stats-content[b-4h2w8ev0za] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 75%;
    border-radius: 20px;
    border: 1px groove black;
}
.stats-content hr[b-4h2w8ev0za] {
    margin: 2px 0px 20px 0px
}

.stat[b-4h2w8ev0za] {
    margin: 15px 15px 15px 15px;
    padding:10px;
    height: 100px;
    border-radius: 20px;
    border: 1px groove black;
    height: fit-content;
    color:white;
}
.stat:last-of-type[b-4h2w8ev0za] {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.label-div[b-4h2w8ev0za] {
    background: linear-gradient(45deg, #392B2C, #037A68);
    border-radius: 5px;
}
.stat label[b-4h2w8ev0za] {
    width: 100%;
}
.stat *[b-4h2w8ev0za] {
    margin-left: 5px
}
.display-div[b-4h2w8ev0za] {
    background: linear-gradient(45deg, #392B2C, #392B2C, #6E0023, #6E0023);
    border-radius: 5px;
    width: 99%;
}
.stat-display[b-4h2w8ev0za] {
    justify-self: center;
}
h2[b-4h2w8ev0za] {
    margin-top: 30px;
    margin-bottom: 40px;
}
div nav[b-4h2w8ev0za] {
    background: none;
}
/* _content/Proyecto/Views/Home/Index.cshtml.rz.scp.css */
.account-option[b-jcjbf7459v] {
    height: 400px; 
    display: flex;
    flex-direction: column
}
.account-option h2[b-jcjbf7459v] {
    text-align: left;
}
.account-option a[b-jcjbf7459v] {
    flex: 1;
    width: 40%;
    align-self: center;
    align-content: center;
    margin: 75px 75px 75px 75px;
}
/* _content/Proyecto/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-llr71ombjl] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-llr71ombjl] {
  color: #0077cc;
}

.btn-primary[b-llr71ombjl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-llr71ombjl], .nav-pills .show > .nav-link[b-llr71ombjl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-llr71ombjl] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-llr71ombjl] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-llr71ombjl] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-llr71ombjl] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-llr71ombjl] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
